.swipeButtons {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 1.25rem;
    width: 100%;
    max-width: $app_max_width;
    
    .MuiIconButton-root {
        background-color: #fff;
        box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
        padding: 1.25rem !important;
    }

    // &__repeat, &__left, &__star, &__right, &__lightning {
    //     padding: 3vw !important;
    // }

    &__repeat {
        color: #f5b748 !important;
    }
    &__left {
        color: #ec5e6f !important;
    }
    &__star {
        color: #62b2f9 !important;
    }
    &__right {
        color: #76e2b3 !important;
    }
    &__lightning {
        color: #915dd1 !important;
    }
}